* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }
  .id{
    /* background-image: url(assets/spin.jpg) no rea; */
    background-color: #A460ED;
    border-radius: 1%;
    margin-left: 50px;
  
  }
  .layout-zero {
    height: 15%;
  }
  
  .one { 
    display: flex;
    justify-content:center;
    padding: 40px;
  }
  
  .layout-one {
    background-color: white;
    height: 35%;
    overflow: scroll;
    overflow-x: auto;
  }
  
  .layout-two {
    height: 5%;
  }
  .haut {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .button {
    background-color: #0d6efd; 
    border-radius:10px;
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 10px;
    width: 150px;
  
    margin-right: 20px;
  }
  
  label {
    font-weight: bold;
    color: #070707;
    gap: 10px;
  }
  
  input {
    font-weight: 400; 
   line-height: 1;
    height: 100%;
  }
  
  .layout-three {
    height: 35%;
    font-weight: bold;
    max-height: 35%;
    overflow: scroll;
  }
  .nameList {
    width: full;
    height: 100vh;
    width: auto;
  }
  